name: deploy
run-name: deploy - ${{ inputs.terraform_action }}

on:
  workflow_dispatch:
    inputs:
      auth:
        default: oidc
        description: authentication method
        options:
          - keys
          - oidc
        required: false
        type: choice
      terraform_action:
        default: plan
        description: terraform action
        options:
          - plan
          - plan destroy
          - apply
          - destroy
        required: true
        type: choice
      context_details:
        default: false
        required: false
        type: boolean

permissions:
  contents: read
  id-token: write

jobs:
  set-plan-action:
    name: set plan action
    runs-on: ubuntu-latest
    outputs:
      plan_action: ${{ steps.set-plan-action.outputs.plan_action }}
    steps:
      - name: set plan action
        id: set-plan-action
        run: |
          case "${{ inputs.terraform_action }}" in
            "plan"|"apply")
              echo "plan_action=plan" >> "$GITHUB_OUTPUT"
              ;;
            "plan destroy"|"destroy")
              echo "plan_action=plan destroy" >> "$GITHUB_OUTPUT"
              ;;
            *)
              echo "Unexpected terraform_action: ${{ inputs.terraform_action }}"
              exit 1
              ;;
          esac

  plan:
    uses: ./.github/workflows/reusable_terraform_action.yaml
    needs: set-plan-action
    with:
      auth: ${{ inputs.auth }}
      aws_region: us-east-2
      context_details: ${{ inputs.context_details }}
      terraform_action: ${{ needs.set-plan-action.outputs.plan_action }}
    secrets: inherit

  get-approval:
    name: get approval
    runs-on: ubuntu-latest
    if: ${{ inputs.terraform_action == 'apply' || inputs.terraform_action == 'destroy' }}
    environment: approval_required
    needs: plan
    steps:
      - name: approval requested
        run: echo 'Approval provided. Job will continue.'

  apply:
    uses: ./.github/workflows/reusable_terraform_action.yaml
    if: ${{ inputs.terraform_action == 'apply' || inputs.terraform_action == 'destroy' }}
    needs: get-approval
    with:
      auth: ${{ inputs.auth }}
      aws_region: us-east-2
      context_details: ${{ inputs.context_details }}
      terraform_action: ${{ inputs.terraform_action }}
    secrets: inherit
