name: reusable tf action
run-name: tf action - ${{ inputs.terraform_action }}

on:
  workflow_call:
    inputs:
      auth:
        default: oidc
        required: false
        type: string
      aws_region:
        default: us-east-2
        required: false
        type: string
      context_details:
        default: false
        required: false
        type: boolean
      terraform_action:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      auth:
        default: oidc
        description: authentication method
        options:
          - keys
          - oidc
        required: false
        type: choice
      aws_region:
        default: us-east-2
        description: aws region
        required: false
        type: choice
        options:
          - us-east-2
          - us-west-2
      context_details:
        default: false
        required: false
        type: boolean
      terraform_action:
        default: plan
        description: terraform action
        options:
          - plan
          - plan destroy
          - apply
          - destroy
        required: true
        type: choice

env:
  TF_LOG: OFF
  TF_LOG_CORE: OFF
  TF_LOG_PROVIDER: OFF
  TF_LOG_PATH: ./terraform.log
  TF_VAR_aws_region: ${{ inputs.aws_region }}
  TF_VAR_oidc_role_to_assume: ${{ vars.OIDC_ROLE_TO_ASSUME }}

permissions:
  contents: read
  id-token: write

jobs:
  terraform_action:
    name: "${{ inputs.terraform_action }} in ${{ inputs.aws_region }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    environment: aws_mgmt
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: pwd

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_wrapper: false
      - run: terraform --version

      - run: aws --version

      - name: configure aws credentials with oidc
        if: ${{ inputs.auth == 'oidc' }}
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ vars.OIDC_ROLE_TO_ASSUME }}
          aws-region: ${{ inputs.aws_region }}

      - name: configure aws credentials with keys
        if: ${{ inputs.auth == 'keys' }}
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - name: dump context
        uses: ulfiac/common-reusables/.github/actions/dump_context@main
        with:
          annotate: ${{ inputs.context_details }}

      - run: terraform init
      - run: terraform validate

      - name: import bootstrap
        env:
          AWS_REGION: ${{ inputs.aws_region }}
          OIDC_ROLE_TO_ASSUME: ${{ vars.OIDC_ROLE_TO_ASSUME }}
          TF_STATE_S3_BUCKET_NAME: ${{ vars.TF_STATE_S3_BUCKET_NAME }}
        run: ../scripts/import_bootstrap.sh

      - name: terraform plan
        if: ${{ inputs.terraform_action == 'plan' }}
        run: |
          terraform plan -out=./tfplan.binary
          echo -e "\n::notice::Plan details.\n"

      - name: terraform plan destroy
        if: ${{ inputs.terraform_action == 'plan destroy' }}
        run: |
          terraform plan -destroy -out=./tfplan.binary
          echo -e "\n::notice::Plan destroy details.\n"

      - name: show plan summary
        if : ${{ inputs.terraform_action == 'plan' || inputs.terraform_action == 'plan destroy' }}
        run: ../scripts/show_plan_summary.sh

      - name: terraform apply
        if: ${{ inputs.terraform_action == 'apply' }}
        run: |
          set -o pipefail
          terraform apply -auto-approve | tee tfapply.out
          echo -e "\n::notice::Apply details.\n"

      - name: terraform destroy
        if: ${{ inputs.terraform_action == 'destroy' }}
        run: |
          set -o pipefail
          terraform apply -destroy -auto-approve | tee tfdestroy.out
          echo -e "\n::notice::Destroy details.\n"

      - name: show apply summary
        if: ${{ inputs.terraform_action == 'apply' || inputs.terraform_action == 'destroy' }}
        run: ../scripts/show_apply_summary.sh "${{ inputs.terraform_action }}"
